/* width */

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background-color: black;
  color: #fff;
}

/* ** Mozilla based browsers ** */

::-moz-selection {
  background-color: black;
  color: #fff;
}

/* **For Other Browsers ** */

::-o-selection {
  background-color: black;
  color: #fff;
}

::-ms-selection {
  background-color: black;
  color: #fff;
}

/* ** For Webkit ** */

::-webkit-selection {
  background-color: black;
  color: #fff;
}

.navbar.fixed-top.navbar-expand-lg.navbar-light {
}

