/* width */

@font-face {
  font-family: AvertaCY;
  src:  url('assets/fonts/AvertaCY-Regular.woff2') format('woff2');
}


::-webkit-scrollbar {
  background: transparent;
  width: 17px;
  height: 18px;
}



::-webkit-scrollbar-thumb {
  background: #DEDEDE;
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #525252;
  background-clip: padding-box;
}

::selection {
  background-color: lightblue;
  color: white;
}

/* ** Mozilla based browsers ** */

::-moz-selection {
  background-color: lightblue;
  color: white;
}

/* **For Other Browsers ** */

::-o-selection {
  background-color: lightblue;
  color: white;
}

::-ms-selection {
  background-color: lightblue;
  color: white;
}

/* ** For Webkit ** */

::-webkit-selection {
  background-color: lightblue;
  color: white;
}

.centered {
  text-align: center;
}

a, u {
  text-decoration: none!important;
}

.circle {
  position: absolute;
  /*border: solid 1px rgb(240,240,240);*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /*background-color: rgb(240,240,240);*/
  /*backdrop-filter: blur(20px);*/
}


.navbar-nav > li > a{
  color: white;
  border-radius: 10px;
  font-weight: 600;
}

.navbar-nav > li > a:hover{
  background-color:  rgba(  95, 161, 199 , 0.2);
  border-radius: 10px;
  color: white;
}
.navbar-nav > li{
  font-size: calc(0.5em + 0.5vw);
padding-left:10px;
padding-right:10px;
}


.team-grid {
  min-height: 100%;
  color: #313437;
  background-color: #fff;
}
.team-grid p {
  color: #7d8285;
}

.team-grid h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .team-grid h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-grid .intro {
  font-size: 16px;
  margin: 0 auto;
  
}

.team-grid .intro p {
  margin-bottom: 0;
}

.team-grid .people {
  padding: 50px 0;
  
}

.team-grid .item {
  margin-bottom: 30px;
  
}

.team-grid .item .box {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  position: relative;
}

.team-grid .item .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.15s ease-in;
  opacity: 0;
  padding-top: 80px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.team-grid .item:hover .cover {
  opacity: 1;
}

.team-grid .item .cover {
  height: 100%;
}

.team-grid .item .name {
  font-weight: bold;
  margin-bottom: 8px;
}

.team-grid .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #bbd8fb;
  letter-spacing: 2px;
  font-size: 13px;
  margin-bottom: 20px;
}

.team-grid .social {
  font-size: 18px;
}

.team-grid .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-grid .social a:hover {
  opacity: 1;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}